@keyframes moveGradient {
	0% {
		background-position: 100% 0;
		opacity: 10%;
	}
	50% {
		opacity: 60%;
	}
	100% {
		opacity: 10%;
		background-position: -100% 0;
	}
}

.loading-gradient {
	background: linear-gradient(45deg, #555, #888, #999, #777);
	background-size: 400% 400%;
	animation: moveGradient 3s linear infinite;
	border-radius: 5px;
	padding: 0.25rem;
}
